@font-face {
    font-family: "patrickHand-Regular.ttf";
    src: url(../Tipografia/PatrickHand-Regular.ttf);
  }
  
  @font-face {
    font-family: "Cabin-italic";
    src:../Tipografia/Cabin-Italic-VariableFont_wdth\,wght.ttf;
    font-style: normal;
  }
  
  @font-face {
    font-family: "cabin-variable";
    src: url(../Tipografia/Cabin-VariableFont_wdth\,wght.ttf);
    font-style: normal;
  }

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
 }

 .imagen-principal{
  max-width: 100%;
 }

header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 2rem;
 background-color: #27024a;
 color: aliceblue;
 }

 .logo {
  max-width: 6rem;
 }

 .nav{
  list-style-type: none;
  display: flex;
  gap: 1rem;
  color: aliceblue;
  cursor: pointer;

 }
 .nav li a {
  text-decoration: none;
  /* color:aliceblue; */
 }

 .abrir-menu,
 .cerrar-menu {
  display: none;
 }

 

 /*.abrir-menu, .cerrar-menu {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;  Tamaño del icono 
  color: #fff; Color del icono 
  padding: 0.5rem;
}*/

 @media screen and (max-width: 550px) {

 .abrir-menu,
 .cerrar-menu {
  display: block;
 } 

 .classnav{
 opacity: 0;
 visibility: hidden;
 }

  
  .classnav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:  #994ce1 ;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgb(253, 252, 253);
    opacity: 0;
    visibility: hidden;
    align-items: end;
    transform-origin: opacity 0.3s ease, visibility 0.3s ease;

  }
 
  .classnav.visible {
    opacity: 1;
    visibility: visible;
   
  }
.nav {
  flex-direction: column;
}

 }

.footer {

  background-color: #994ce1;
  color: antiquewhite;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  font-family: "cabin-variable";
  src: url(../Tipografia/Cabin-VariableFont_wdth\,wght.ttf);
  font-style: normal;
}